@import '../assets/style/styleVariable.scss';

.iconfont {
  vertical-align: baseline;
}

// 不考虑size大小问题
.button_icon {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
  padding: 0 !important;
}

// is_disabled 禁用
.is_disabled {
  pointer-events: none;
  opacity: 0.6;
}

// 文字按钮
.button_text {
  color: $color-primary;
  cursor: pointer;
}

// loading加载动画

/*---------自定义快速旋转（就是引用刚才自定义loading的动画）------*/
.load {
  animation: rotate 3s linear infinite;
  display: inline-block;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.button {
  border-radius: 4px;
  background: $color-white;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.button:focus,
.button:hover {
  color: $color-primary;
  background-color: $color-primary-light5;
  border-color: $color-primary-light3;

}

.button.is-plain:focus,
.button.is-plain:hover {
  background: $color-white;
  border-color: $color-primary;
  color: $color-primary;
}

.button.is-plain:focus,
.button.is-plain:hover {
  background: $color-white;
  border-color: $color-primary;
  color: $color-primary;
}

.is-round {
  border-radius: 50px;
}

// 圆角按钮
.button_primary.is-round {
  border-radius: 50px;
}

.button_success.is-round {
  border-radius: 50px;
}

.button_info.is-round {
  border-radius: 50px;
}

.button_warning.is-round {
  border-radius: 50px;
}

.button_danger.is-round {
  border-radius: 50px;
}

// 朴素按钮
.button_primary.is-plain {
  color: $color-primary;
  background: $color-primary-light5;
  border-color: $color-primary-light3;
}

.button_primary.is-plain:focus,
.button_primary.is-plain:hover {
  background: $color-primary;
  border-color: $color-primary;
  color: $color-white;
}

.button_success.is-plain {
  color: $color-success;
  background: $color-success-light5;
  border-color: $color-success-light3;
}

.button_success.is-plain:focus,
.button_success.is-plain:hover {
  background: $color-success;
  border-color: $color-success;
  color: $color-white;
}

.button_info.is-plain {
  color: $color-info;
  background: $color-info-light5;
  border-color: $color-info-light3;
}

.button_info.is-plain:focus,
.button_info.is-plain:hover {
  background: $color-info;
  border-color: $color-info;
  color: $color-white;
}

.button_warning.is-plain {
  color: $color-warning;
  background: $color-warning-light5;
  border-color: $color-warning-light3;
}

.button_warning.is-plain:focus,
.button_warning.is-plain:hover {
  background: $color-warning;
  border-color: $color-warning;
  color: $color-white;
}

.button_danger.is-plain {
  color: $color-danger;
  background: $color-danger-light5;
  border-color: $color-danger-light3;
}

.button_danger.is-plain:focus,
.button_danger.is-plain:hover {
  background: $color-danger;
  border-color: $color-danger;
  color: $color-white;
}

// type样式
.button_primary {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
}

.button_primary:focus,
.button_primary:hover {
  background: $color-primary-light2;
  border-color: $color-primary-light2;
  color: $color-white;
}

.button_success {
  color: $color-white;
  background-color: $color-success;
  border-color: $color-success;
}

.button_success:focus,
.button_success:hover {
  background: $color-success-light2;
  border-color: $color-success-light2;
  color: $color-white;
}

.button_info {
  color: $color-white;
  background-color: $color-info;
  border-color: $color-info;
}

.button_info:focus,
.button_info:hover {
  background: $color-info-light2;
  border-color: $color-info-light2;
  color: $color-white;
}

.button_warning {
  color: $color-white;
  background-color: $color-warning;
  border-color: $color-warning;
}

.button_warning:focus,
.button_warning:hover {
  background: $color-warning-light2;
  border-color: $color-warning-light2;
  color: $color-white;
}

.button_danger {
  color: $color-white;
  background-color: $color-danger;
  border-color: $color-danger;
}

.button_danger:focus,
.button_danger:hover {
  background: $color-danger-light2;
  border-color: $color-danger-light2;
  color: $color-white;
}

// size样式
.button_mini {
  height: 30px;
  font-size: 12px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  padding: 0 16px;
  cursor: pointer;
}

.button_small {
  height: 35px;
  font-size: 14px;
  display: inline-block;
  line-height: 33px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
}

.button_medium {
  height: 40px;
  font-size: 16px;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  padding: 0 24px;
  cursor: pointer;
}