@import '../assets//style/styleVariable.scss';

.iconfont {
    vertical-align: middle;
}

.bold {
    cursor: pointer;
}

.tag {
    margin: 0 2px;
    border-radius: 4px;
    background: $color-white;
}



/* size 样式 */
.tag_mini {
    height: 30px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #eeeeee;
    line-height: 30px;
    text-align: center;
    padding: 0 16px;
    /* cursor: pointer; */
}

.tag_small {
    height: 35px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #eeeeee;
    line-height: 35px;
    text-align: center;
    padding: 0 20px;
    /* cursor: pointer; */
}

.tag_medium {
    height: 40px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #eeeeee;
    line-height: 40px;
    text-align: center;
    padding: 0 24px;
    /* cursor: pointer; */
}

/* effect 按钮样式 */
.tag_primary {
    color: $color-primary;
    background-color: $color-primary-light5;
    border-color: $color-primary-light3;
}

.tag_success {
    color: $color-success;
    background-color: $color-success-light5;
    border-color: $color-success-light3;
}

.tag_info {
    color: $color-info;
    background-color: $color-info-light5;
    border-color: $color-info-light3;
}

.tag_warning {
    color: $color-warning;
    background-color: $color-warning-light5;
    border-color: $color-warning-light3;
}

.tag_danger {
    color: $color-danger;
    background-color: $color-danger-light5;
    border-color: $color-danger-light3;
}

.tag_primary.tag_effect_dark {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
}


.tag_success.tag_effect_dark {
    color: $color-white;
    background-color: $color-success;
    border-color: $color-success;
}



.tag_info.tag_effect_dark {
    color: $color-white;
    background-color: $color-info;
    border-color: $color-info;
}


.tag_warning.tag_effect_dark {
    color: $color-white;
    background-color: $color-warning;
    border-color: $color-warning;
}

.tag_danger.tag_effect_dark {
    color: $color-white;
    background-color: $color-danger;
    border-color: $color-danger;
}

.tag_primary.tag_effect_plain {
    color: $color-primary;
    background: $color-white;
    border-color: $color-primary-light3;
}

.tag_success.tag_effect_plain {
    color: $color-success;
    background: $color-white;
    border-color: $color-success-light3;
}


.tag_info.tag_effect_plain {
    color: $color-info;
    background: $color-white;
    border-color: $color-info-light3;
}


.tag_warning.tag_effect_plain {
    color: $color-warning;
    background: $color-white;
    border-color: $color-warning-light3;
}


.tag_danger.tag_effect_plain {
    color: $color-danger;
    background: $color-white;
    border-color: $color-danger-light3;
}